@layout MainLayout
@page "/documentation"
@inject HttpClient client
@using Markdig

<style>
    li:hover {
        background-color: yellow;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 2px solid #000000;
    }

    th {
        border: 2px solid #000000;
    }

    td {
        border: 1px solid #000000;
    }
</style>

<h3>About Database Manager</h3>

<p>Contact info: vidar@petrodataonline.com</p>
<p>&nbsp;</p>

<div class="row">
    <div class="col-2">
        @foreach (var doc in content)
        {
            <ul>
                <li @onclick="(() => GetDoc(doc))">
                    @doc
                </li>
            </ul>
        }
    </div>
    <div class="col-6">
        @if (Body != null)
        {
            @((MarkupString)Body)
        }
    </div>

</div>

@code {
    public string Body { get; set; }
    private string[] content = {
        "Introduction", "Home", "Settings", "Data Connectors",
        "Data Model",  "Data Transfer", "File to PPDM",
        "Create Index", "Manage Predictions", "Data QC", "Predictions"
    };

    protected override async Task OnInitializedAsync()
    {
        await GetDoc("Introduction");
    }

    private async Task GetDoc(string docName)
    {
        string url = @"api/Documentation/" + docName;
        Console.WriteLine(docName);
        string docStr = await client.GetStringAsync(url);
        if (!string.IsNullOrEmpty(docStr))
        {
            var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
            Body = Markdown.ToHtml(docStr, pipeline);
        }
        else
        {
            Body = null;
        }
        Console.WriteLine(docStr);
    }
}
