@page "/documentation"
<h3>About</h3>

<h4>Database Manager is a platform for collaborative solutions to E&amp;P predictions</h4>
<h5>It is built for the cloud generation as a DataScience Management (DSM) tool</h5>
<p>It provides an effective tool to make it easier for oil and gas companies to manage their data science projects.</p>
<p>Predictions and data QC functions are contained in micro services with all the rules, results and models stored in the DSM project.</p> 
<p>The DSM project is based on the industry standard PPDM data model. The system has functionality to import data from files or from other PPDM databases.</p>

<p>Contact info:</p>
<p>vidar@petrodataonline.com</p>
<p>&nbsp;</p>

@code {

}
