@page "/filetoppdm"
@inject IDataFile dataFile
@inject SingletonServices singleton

<h3>File To PPDM Transfer</h3>

<div>
    <h3>Target Database</h3>
</div>
<p>@singleton.TargetConnector</p>

<button class="btn btn-primary" @onclick="StartTransfer">Start Transfer</button>

<div style="margin-top:20px">
    <ProgressBar ValueNow="barValue" />
</div>

<div>
    <p>Current status: @statusMessage</p>
</div>

@code {
    private string statusMessage = "Not started";
    private int failedFiles = 0;
    public int barValue = 0;
    FileParameters fileParameters = new FileParameters();

    protected async Task StartTransfer()
    {
        fileParameters.DataConnector = singleton.TargetConnector;
        fileParameters.FileShare = "logs";
        barValue = 1;
        string dataType = "logs";
        progress($"Start Transfer");
        try
        {
            List<string> files = await dataFile.GetFiles(dataType);
            await ProcessFiles(files);
            progress($"Complete, {files.Count - failedFiles} out of {files.Count} transferred");
        }
        catch (Exception ex)
        {
            progress($"Error in transfer: {ex.Message}");
        }
        barValue = 100;
    }

    protected async Task ProcessFiles(List<string> files)
    {
        int failedFiles = 0;
        int interval = 100 / (files.Count());
        foreach (string file in files)
        {
            try
            {
                progress($"processing {file}");
                Console.WriteLine(file);
                fileParameters.FileName = file;
                await dataFile.LoadFile(fileParameters);
                barValue = barValue + interval;
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.ToString());
                failedFiles = failedFiles + 1;
            }
        }
    }

    private void progress(string message)
    {
        statusMessage = message;
        StateHasChanged();
    }
}
