@page "/ppdmtoppdm"
@inject IDatabaseTransfer databaseTransfer
@inject SingletonServices singleton

<h2>PPDM to PPDM Data Transfer</h2>

<TransferParametersForm TransferParameters="transferParameters" OnValidSubmit="StartDatabaseTransfer" />

<div style="margin-top:20px">
    <ProgressBar ValueNow="barValue" Label="@barLabel" />
</div>

<div>
    <p>Current status: @statusMessage</p>
</div>


@code {
    private string statusMessage = "Not started";
    private string jsonString = "";
    TransferParameters transferParameters = new TransferParameters();
    public int barValue = 0;
    public string barLabel = "0%";

    protected async Task StartDatabaseTransfer()
    {
        Console.WriteLine("Start database transfer");
        int barInt = 50 / DatabaseTables.Names.Count;
        foreach (string tableName in DatabaseTables.Names)
        {
            transferParameters.Table = tableName;
            transferParameters.TargetName = singleton.TargetConnector;
            progress($"Deleting from {tableName}");
            try
            {
                await databaseTransfer.Delete(transferParameters);
                barValue = barValue + barInt;
            }
            catch (Exception ex)
            {
                progress($"Error Deleting from {tableName}: {ex.Message}");
                return;
            }
        }

        barInt = 50 / CopyTables.Names.Count;
        foreach (string tableName in CopyTables.Names)
        {
            transferParameters.Table = tableName;
            progress($"Copying table {tableName}");
            try
            {
                await databaseTransfer.Copy(transferParameters);
                barValue = barValue + barInt;
            }
            catch (Exception ex)
            {
                progress($"Error copying from {tableName}: {ex.Message}");
                return;
            }
        }

        barValue = 100;
        barLabel = $"{barValue}%";
        progress($"Transfer Complete");
    }

    private void progress(string message)
    {
        statusMessage = message;
        StateHasChanged();
    }
}
