@page "/settings"
@inject HttpClient client
@inject NavigationManager navigationManager
@inject ICookies cookies

<h3>Settings</h3>
<p>Azure Storage used for this session:</p>
<p><input @bind="@AzureStorage" size="100" /></p>
<p>Cookie expiration days:</p>
<p><input type="number" @bind="@ExpirationDays" size="100" /></p>
<p><button @onclick="Save">Save</button></p>

@code {
    string AzureStorage;
    int ExpirationDays = 7;
    CookieParameters cookieParams = new CookieParameters();

    protected override async Task OnInitializedAsync()
    {
        CookieParameters cookieParams = await cookies.GetCookie();
        AzureStorage = cookieParams.Value;
    }

    private async Task Save()
    {
        if (!string.IsNullOrEmpty(AzureStorage))
        {
            await cookies.DeleteCookie();
            cookieParams.Value = AzureStorage;
            cookieParams.ExpirationDays = ExpirationDays;
            await cookies.CreateCookie(cookieParams);
            client.DefaultRequestHeaders.Remove("AzureStorageConnection");
            client.DefaultRequestHeaders.Add("AzureStorageConnection", AzureStorage);
        }
        navigationManager.NavigateTo("/");
    }
}
