@page "/settings"
@inject HttpClient client
@inject NavigationManager navigationManager
@inject ICookies cookies

<h3>Settings</h3>
<p>Azure Storage used for this session:</p>
<p><input @bind="@AzureStorage" size="100" /></p>
<p><button @onclick="Save">Save</button></p>

@code {
    string AzureStorage;
    CookieParameters cookieParams = new CookieParameters();

    private async Task Save()
    {
        if (!string.IsNullOrEmpty(AzureStorage))
        {
            await cookies.DeleteCookie();
            cookieParams.Value = AzureStorage;
            await cookies.CreateCookie(cookieParams);
            client.DefaultRequestHeaders.Add("AzureStorageConnection", AzureStorage);
        }
        navigationManager.NavigateTo("/");
    }
}
