<div class="progress" style="margin-top:20px">
    <div class="progress-bar"
         role="progressbar"
         style="width: @Width"
         aria-valuenow="@ValueNow"
         aria-valuemin="0"
         aria-valuemax="100">
            @barLabel
    </div>
</div>

@code {
    [Parameter]
    public int ValueNow { get; set; }

    private string Width => $"{ValueNow}%";
    private string barLabel => $"{ValueNow}%";
}