<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DatabaseManager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="datasourceindex">
                <span class="oi oi-list" aria-hidden="true"></span> Connectors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="datamodel">
                <span class="oi oi-plus" aria-hidden="true"></span> Admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transferdata">
                <span class="oi oi-move" aria-hidden="true"></span> Transfer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="createindex">
                <span class="oi oi-map" aria-hidden="true"></span> Index
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="datarules">
                <span class="oi oi-code" aria-hidden="true"></span> Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reportresult">
                <span class="oi oi-calculator" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dataops">
                <span class="oi oi-aperture" aria-hidden="true"></span> DataOps
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
