<EditForm Model="PredictioncParms" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Source:</label>
        <div>
            <InputText class="form-control" @bind-Value="PredictioncParms.DataConnector" />
            <ValidationMessage For="@(() => PredictioncParms.DataConnector)" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Save Changes</button>
</EditForm>

@code {
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public PredictionParameters PredictioncParms { get; set; }
}
