@page "/datasources/edit/{SourceName}"
@inject NavigationManager navigationManager
@inject HttpClient client
@inject ILocalStorageService localStorage
@using System.Text

<h3>Edit Data Source</h3>

@if (connectParameters != null)
{
    if (connectParameters.SourceType == "File")
    {
        <FileSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true" />
    }
    else
    {
        <DataSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true" />
    }
}

@code {
    [Parameter] public string SourceName { get; set; }
    public ConnectParameters connectParameters;
    //        //string url = "https://databasemanagerappfunctions.azurewebsites.net/api/GetDataOpsData?code=2XXdQ8ZkFhoL0kqchmVDADAa7XQxNkNWVL4fBrXsvsfFQP8icYkGMw==";
    string url = "http://localhost:7071/api/GetDataSource";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string azureStorage = await localStorage.GetItemAsync<string>("AzureStorage");
            client.DefaultRequestHeaders.Remove("azurestorageconnection");
            client.DefaultRequestHeaders.Add("azurestorageconnection", azureStorage);
            url = url + "?name=" + SourceName;
            Console.WriteLine(url);
            connectParameters = await client.GetFromJsonAsync<ConnectParameters>(url);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Errors: {ex}");
        }
    }

    private async Task Edit()
    {
        try
        {
            string connectStr = Common.CreateDatabaseConnectionString(connectParameters);
            Console.WriteLine(connectStr);
            connectParameters.ConnectionString = connectStr;
            var jsonString = JsonConvert.SerializeObject(connectParameters);
            var content = new StringContent(jsonString, Encoding.UTF8, "application/json");
            string urlUpdate = "http://localhost:7071/api/UpdateDataSource";
            using var response = await client.PostAsync(urlUpdate, content);
            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("Sucessful updating data source");
            }
            else
            {
                string errorMessage = response.ReasonPhrase;
                Console.WriteLine($"There was an error! {errorMessage}");
            }
            navigationManager.NavigateTo("datasources");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
