@page "/editcopilotrules"

@inject IDataConfigurationService dcs
@inject IPopupMessage dm
@inject CopilotStateService copilotState
@inject IRuleService rules
@inject NavigationManager navigationManager

<h3>Edit Copilot Rule</h3>

@if (ruleInfo == null || ruleModel == null)
{
    <p>Loading...</p>
}
else
{
    <EditDataRuleForm RuleToEdit="ruleModel" DataRef="ruleInfo" OnValidSubmit="Edit" />
}

@code {
    public RuleInfo ruleInfo;
    public RuleModel ruleModel;
    public RuleModelDto ruleModelDto;

    protected override async Task OnInitializedAsync()
    {
        ruleInfo = await GetRuleInfo();
        ruleModel = copilotState.PendingRule;

        if (ruleModel == null)
        {
            await dm.DisplayErrorMessage(
                "No Copilot rule is available.");
            return;
        }
    }

    private async Task<RuleInfo> GetRuleInfo()
    {
        string content = "";
        DatabaseManager.ServerLessClient.Models.ResponseDto response = await dcs.GetRecord<DatabaseManager.ServerLessClient.Models.ResponseDto>("PPDMDataAccess.json");
        if (response != null && response.IsSuccess)
        {
            content = Convert.ToString(response.Result);
            Console.WriteLine(content);
        }
        else
        {
            Console.WriteLine(response.ErrorMessages);
            await dm.DisplayErrorMessage("Error getting rule info");
        }
        List<DataAccessDef> accessDefs = JsonConvert.DeserializeObject<List<DataAccessDef>>(content);
        RuleInfo ruleInfo = new RuleInfo();
        ruleInfo.DataTypeOptions = new List<string>();
        ruleInfo.DataAttributes = new Dictionary<string, string>();
        foreach (DataAccessDef accessDef in accessDefs)
        {
            ruleInfo.DataTypeOptions.Add(accessDef.DataType);
            string select = accessDef.Select;
            string[] attributeArray = select.GetAttributes();
            string attributes = String.Join(",", attributeArray);
            ruleInfo.DataAttributes.Add(accessDef.DataType, attributes);
        }
        return ruleInfo;
    }

    private async Task Edit()
    {
        try
        {
            await rules.UpdateRuleAsync(ruleModel);
            navigationManager.NavigateTo("datarules");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
