@using MudBlazor
@inject DatabaseManager.ServerLessClient.Services.IDataSources dataSources

@if (options == null)
{
    <text>Loading...</text>
}
else
{
    <EditForm Model="DataQcParms" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <MudSelect T="string" Label="Source:" @bind-Value="DataQcParms.DataConnector" Variant="Variant.Outlined">
                @foreach (var option in options)
                {
                    <MudSelectItem T="string" Value="@option">@option</MudSelectItem>
                }
            </MudSelect>
        </div>
        <button class="btn btn-success" type="submit">Save Changes</button>
    </EditForm>
}

@code {
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public DataQCParameters DataQcParms { get; set; }
    List<DatabaseManager.Shared.ConnectParameters> connectParameters;
    public string[] options { get; set; }
    DatabaseManager.ServerLessClient.Models.ResponseDto response;

    protected override async Task OnInitializedAsync()
    {
        response = await dataSources.GetSources<DatabaseManager.ServerLessClient.Models.ResponseDto>();
        connectParameters = JsonConvert.DeserializeObject<List<DatabaseManager.Shared.ConnectParameters>>(Convert.ToString(response.Result));
        options = connectParameters.Select(x => x.SourceName).ToArray();
    }
}
