@page "/datasources/create/{SourceType}"
@inject IDataSources dataSources
@inject NavigationManager navigationManager
@inject IDisplayMessage displayMessage
@inject SingletonServices settings

<h3>Create Data Connector</h3>
@if (SourceType == "File")
{
    <FileSourceForm ConnectParameters="connectParameters" OnValidSubmit="Create" />
}
else
{
    <DataSourceForm ConnectParameters="connectParameters" OnValidSubmit="Create" />
}

@code {
    [Parameter] public string SourceType { get; set; }
    private ConnectParameters connectParameters = new ConnectParameters();

    private async Task Create()
    {
        connectParameters.SourceType = SourceType;
        string connectStr = "";
        if (SourceType == "File")
        {
            connectStr = settings.AzureStorage;
        }
        else
        {
            connectStr = Common.CreateDatabaseConnectionString(connectParameters);
        }
        connectParameters.ConnectionString = connectStr;
        try
        {
            await dataSources.CreateSource(connectParameters);
            navigationManager.NavigateTo("datasources");
        }
        catch (Exception ex)
        {
            if (ex.Message.Contains("The specified entity already exists"))
            {
                await displayMessage.DisplayErrorMessage("A connector with this name already exist, please change name");
            }
            else
            {
                Console.WriteLine(ex.Message);
            }
        }
    }
}
