@page "/datasources/edit/{SourceName}"
@inject IDataSources dataSources
@inject NavigationManager navigationManager

<h3>Edit Data Source</h3>

@if (connectParameters != null)
{
    if (connectParameters.SourceType == "File")
    {
        <FileSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true" />
    }
    else
    {
        <DataSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true" />
    }
}

@code {
    [Parameter] public string SourceName { get; set; }
    public ConnectParameters connectParameters;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            connectParameters = await dataSources.GetSource(SourceName);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Errors: {ex}");
        }
    }

    private async Task Edit()
    {
        try
        {
            string connectStr = Common.CreateDatabaseConnectionString(connectParameters);
            connectParameters.ConnectionString = connectStr;
            await dataSources.UpdateSource(connectParameters);
            navigationManager.NavigateTo("datasources");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
