@page  "/rules/edit/{SourceName}/{Id:int}"
@inject IRules rules
@inject NavigationManager navigationManager
@inject SingletonServices singleton
@inject IDataConfiguration dataConfiguration
@inject IDisplayMessage displayMessage

<h3>Edit Rule</h3>

@if (ruleModel != null)
{
    <EditRuleForm RuleToEdit="ruleModel" DataRef="ruleInfo" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string SourceName { get; set; }
    public RuleModel ruleModel;
    public RuleInfo ruleInfo;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Inside Edit rule page");
        ruleInfo = await Common.GetRuleInfo(dataConfiguration, displayMessage);
        ruleModel = await rules.GetRule(SourceName, Id);
    }

    private async Task Edit()
    {
        try
        {
            await rules.UpdateRule(ruleModel, singleton.TargetConnector, Id);
            navigationManager.NavigateTo("rules");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
