@page "/rules/newfunction"
@inject NavigationManager navigationManager
@inject IRules rf
@inject SingletonService singleton

<h3>New Function</h3>

<FunctionForm RuleFunctions="ruleFunction" OnValidSubmit="Create" />

@code {
    private RuleFunctions ruleFunction = new RuleFunctions();

    private async Task Create()
    {
        try
        {
            await rf.InsertFunction(ruleFunction, singleton.TargetConnector);
            navigationManager.NavigateTo("rules/functions");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
