@page "/transferdata"
@using MudBlazor
@inject SingletonServices settings
@inject IDisplayMessage displayMessage
@inject IDataSources dataSources
@inject IDataTransfer dataTransfer
@inject ISync sync

<style> 
input {
  padding: 5px 10px 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  width: 300px;
}
</style>

<h2>Data Transfer</h2>
<br />

<MudTransferParametersForm TransferParameters="transferParameters" OnValidSubmit="StartDatabaseTransfer" />

<h2>Index Transfer</h2>
<br />

<SyncParametersForm SyncParameters="syncParameters" OnValidSubmit="StartDatabaseIndexSync" />

<br />

<h2>Transfer Status</h2>

<MudProgressLinear Color="Color.Primary" Value="@barValue" Class="my-10" />

    <p>Current status: @statusMessage</p>


@code {
    private string statusMessage = "Not started";
    private string jsonString = "";
    private List<TransferParameters> dataObjects;
    TransferParameters transferParameters = new TransferParameters();
    SyncParameters syncParameters = new();
    public int barValue { get; set; }

    protected async Task StartDatabaseTransfer()
    {
        barValue = 0;
        Console.WriteLine("Start database transfer");
        string source = transferParameters.SourceName;
        string target = settings.TargetConnector;
        transferParameters.TargetName = target;
        Console.WriteLine($"Target source = {target}");

        if (transferParameters.Remote)
        {
            string info = "";
            if (transferParameters.SourceType != "DataBase")
            {
                await displayMessage.DisplayErrorMessage("Remote option only work for databases");
                return;
            }
            Console.WriteLine("Remote database has been selected");
            barValue = 1;
            progress($"Transfer starting");
            await dataTransfer.CopyRemote(transferParameters);

            for (int i = 0; i < 20; i++)
            {
                await Task.Delay(15000);
                List<MessageQueueInfo> messages = await dataTransfer.GetQueueMessage();
                foreach (var message in messages)
                {
                    Console.WriteLine(message);
                    info = message.Message;
                }
                barValue = (i * 5) + 1;
                progress(info);
                if (info == "Complete") break;
            }

            barValue = 100;
            progress($"Transfer Complete");
            return;
        }

        dataObjects = await dataTransfer.GetDataObjects(source);
        int barInt = 50 / dataObjects.Count;
        if (transferParameters.SourceType == "DataBase")
        {
            foreach (var dataObject in dataObjects)
            {
                progress($"Deleting from {dataObject.Table}");
                try
                {
                    await dataTransfer.DeleteTable(target, dataObject.Table);
                    barValue = barValue + barInt;
                }
                catch (Exception ex)
                {
                    progress($"Error Deleting from {dataObject.Table}: {ex.Message}");
                    if (ex.Message.Contains("Invalid object name"))
                    {
                        await displayMessage.DisplayErrorMessage("Table does not exist, have you created the data model?");
                    }
                    return;
                }
            }
            barInt = 50 / dataObjects.Count;
        }
        else
        {
            barInt = 100 / dataObjects.Count;
        }

        foreach (var dataObject in dataObjects)
        {
            transferParameters.Table = dataObject.Table;
            try
            {
                string tmpQuery = transferParameters.TransferQuery;
                progress($"Copying table {transferParameters.Table}");
                await dataTransfer.Copy(transferParameters);
                transferParameters.TransferQuery = tmpQuery;
                barValue = barValue + barInt;
            }
            catch (Exception ex)
            {
                if (ex.Message.Contains("Table does not exist"))
                {
                    await displayMessage.DisplayErrorMessage("Table does not exist, have you created the data model?");
                }
                progress($"Error copying from {transferParameters.Table}: {ex.Message}");
                return;
            }
        }

        barValue = 100;
        progress($"Transfer Complete");
    }

    protected async Task StartDatabaseIndexSync()
    {
        Console.WriteLine("Start index sync");
        Console.WriteLine($"Target source is {syncParameters.TargetName}");
        ResponseDto response = await sync.GetDataObjects<ResponseDto>(syncParameters.SourceName);
        if (response != null && response.IsSuccess)
        {
            List<string> dataObjects = JsonConvert.DeserializeObject<List<string>>(Convert.ToString(response.Result));
            foreach (var dataObject in dataObjects)
            {
                syncParameters.DataObjectType = dataObject;
                Console.WriteLine($"Transferring {dataObject}");
                progress($"Transferring {dataObject}");
                response = await sync.TransferIndexObjects<ResponseDto>(syncParameters);
                if (!response.IsSuccess)
                {
                    Console.WriteLine(response.ErrorMessages);
                }
            }
        }
        else
        {
            Console.WriteLine(response.ErrorMessages);
            await displayMessage.DisplayErrorMessage(" There is a problem accessing get data objects");
        }
        progress($"Transfer Complete");
    }

    private void progress(string message)
    {
        statusMessage = message;
        StateHasChanged();
    }
}