@using MudBlazor
@inject IDataSources dataSources

@if (options == null)
{
    <text>Loading...</text>
}
else
{
    <EditForm Model="TransferParms" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <MudSelect T="string" Label="Source:" @bind-Value="TransferParms.SourceName" Variant="Variant.Outlined">
                @foreach (var option in options)
                {
                    <MudSelectItem T="string" Value="@option">@option</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="form-group">
            <MudSelect T="string" Label="Target:" @bind-Value="TransferParms.TargetName" Variant="Variant.Outlined">
                @foreach (var option in options)
                {
                    <MudSelectItem T="string" Value="@option">@option</MudSelectItem>
                }
            </MudSelect>
        </div>
        <button class="btn btn-success" type="submit">Save Changes</button>
    </EditForm>
}

@code {
    [Parameter] public TransferParameters TransferParms { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    public List<ConnectParameters> connectParameters;
    public string[] options { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            connectParameters = await dataSources.GetSources();
            options = connectParameters.Select(x => x.SourceName).ToArray();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Errors: {ex}");
        }
    }

    private void Selected(string selectedString)
    {
        TransferParms.SourceName = selectedString;
        Console.WriteLine($"selected source: {selectedString}");
        ConnectParameters connector = connectParameters.FirstOrDefault(s => s.SourceName == selectedString);
        TransferParms.SourceType = connector.SourceType;
    }
}
