@page "/datasources"
@inject IDataSources dataSources

<h3>Data Connectors</h3>

<div class="form-group">
    <a class="btn btn-info" href="datasources/create">New Connector</a>
</div>


<GenericList List="ConnectParameters">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Database Name</th>
                    <th>Database Server</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ConnectParameters)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/datasources/edit/@item.SourceName">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeleteSources(item.SourceName))">Delete</button>
                        </td>
                        <td>@item.SourceName</td>
                        <td>@item.Database</td>
                        <td>@item.DatabaseServer</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {
    List<ConnectParameters> ConnectParameters;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ConnectParameters = await dataSources.GetSources();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Errors: {ex}");
        }
    }

    private async Task DeleteSources(string Name)
    {
        await dataSources.DeleteSource(Name);
        ConnectParameters = await dataSources.GetSources();
    }
}
