@page "/datasources/edit/{SourceName}"
@inject IDataSources dataSources
@inject NavigationManager navigationManager

<h3>Edit Data Source</h3>

@if (connectParameters != null)
{
    <DataSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true"/>
}

@code {
    [Parameter] public string SourceName { get; set; }
    public ConnectParameters connectParameters;

    protected override async Task OnInitializedAsync()
    {
        connectParameters = await dataSources.GetSource(SourceName);

    }

    private async Task Edit()
    {
        try
        {
            string connectStr = Common.GetConnectionString(connectParameters);
            Console.WriteLine(connectStr);
            connectParameters.ConnectionString = connectStr;
            await dataSources.UpdateSource(connectParameters);
            navigationManager.NavigateTo("datasources");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
