@page "/datasources/edit/{SourceName}"
@inject DatabaseManager.Common.Services.IDataSources dataSources
@inject NavigationManager navigationManager

<h3>Edit Data Source</h3>

@if (connectParameters != null)
{
    if (connectParameters.SourceType == "File")
    {
        <FileSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true" />
    }
    else
    {
        <DataSourceForm ConnectParameters="connectParameters" OnValidSubmit="Edit" ReadOnlySourceName="true" />
    }
}

@code {
    [Parameter] public string SourceName { get; set; }
    public ConnectParameters connectParameters;

    protected override async Task OnInitializedAsync()
    {
        connectParameters = await dataSources.GetSource(SourceName);

    }

    private async Task Edit()
    {
        try
        {
            string connectStr = DatabaseManager.Common.Helpers.Common.CreateDatabaseConnectionString(connectParameters);
            Console.WriteLine(connectStr);
            connectParameters.ConnectionString = connectStr;
            await dataSources.UpdateSource(connectParameters);
            navigationManager.NavigateTo("datasources");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
