@page "/settings"
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject HttpClient client
@inject SingletonService settings

<h3>Settings</h3>
<p>Azure Storage:</p>
<p><input @bind="@azureStorage" size="100" /></p>
<p><input @bind="@baseUrl" size="100" /></p>
<p><button @onclick="Save">Save</button></p>

@code {
    string azureStorage;
    string baseUrl;

    protected override void OnInitialized()
    {
        azureStorage = settings.AzureStorage;
        baseUrl = settings.BaseUrl;
    }

    private async Task Save()
    {
        if (!string.IsNullOrEmpty(azureStorage))
        {
            await localStorage.SetItemAsync("AzureStorage", azureStorage);
            await localStorage.SetItemAsync("BaseUrl", baseUrl);
            client.DefaultRequestHeaders.Remove("AzureStorageConnection");
            client.DefaultRequestHeaders.Add("AzureStorageConnection", azureStorage);
        }
        navigationManager.NavigateTo("/");
    }

}
