@page "/settings"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject HttpClient client

<h3>Settings</h3>
<p>Azure Storage:</p>
<p><input @bind="@AzureStorage" size="100" /></p>
<p><button @onclick="Save">Save</button></p>

@code {
    string AzureStorage;

    protected override async Task OnInitializedAsync()
    {
        AzureStorage = await localStorage.GetItemAsync<string>("AzureStorage");
        Console.WriteLine($"{AzureStorage}");
    }

    private async Task Save()
    {
        if (!string.IsNullOrEmpty(AzureStorage))
        {
            await localStorage.SetItemAsync("AzureStorage", AzureStorage);
            client.DefaultRequestHeaders.Remove("AzureStorageConnection");
            client.DefaultRequestHeaders.Add("AzureStorageConnection", AzureStorage);
        }
        navigationManager.NavigateTo("/");
    }

}
